<div class="flex justify-content-center mt-8">
    <form 
        class="p-5"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
    >
    <mat-card class="max-w-30rem">
        <mat-card-header>
           <div class="w-full text-center my-5">
             <img src="assets/images/logo-sfp.png" alt="Logo gobierno" class="w-8"/>            
           </div>
        </mat-card-header>
    
        <mat-card-content>
           
                <mat-form-field class="w-full">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="nombre de usuario" formControlName="email" type="text">
                </mat-form-field>
    
                <mat-form-field class="w-full mt-3">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="contraseña" formControlName="password" type="password"> 
                </mat-form-field>           
        </mat-card-content>
    
        <mat-card-actions class="px-5 pb-5">
            <button 
               mat-raised-button class="w-full" color="warn" [disabled]="loginForm.invalid" type="submit">INGRESAR
            </button>
        </mat-card-actions>
    </mat-card>
    </form>
</div>
